#wrapper {
    width: 1440px;
    height: 6643px;
    position: relative;
    background: #FBFBFB;
}

/* #outer {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */
